<header class="topbar">
  <div class="logo">
    <a data-href="index.html">Trilhas &amp; Tesouros</a>
  </div>

  <nav class="nav">
    <ul class="nav-list">
      <li><a data-href="index.html">Início</a></li>

      <li class="has-dropdown">
        <a href="#">Regras ▾</a>
        <ul class="dropdown">
          <li><a data-href="regras/sistema-basico.html">Sistema básico</a></li>
          <li><a data-href="regras/criacao-personagem.html">Criação de Personagem</a></li>
          <li><a data-href="regras/racas.html">Raças</a></li>
          <li><a data-href="regras/atributos.html">Atributos</a></li>
          <li><a data-href="regras/testes.html">Testes</a></li>
          <li><a data-href="regras/combate.html">Combate</a></li>
          <li><a data-href="regras/danos-condicoes.html">Danos e Condições</a></li>
          <li><a data-href="regras/evoluindo.html">Evoluindo</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#">Trilhas ▾</a>
        <ul class="dropdown">
          <li><a data-href="trilhas/combatente.html">Combatente</a></li>
          <li><a data-href="trilhas/batedor.html">Batedor</a></li>
          <li><a data-href="trilhas/especialista.html">Especialista</a></li>
          <li><a data-href="trilhas/arcanista.html">Arcanista</a></li>
          <li><a data-href="trilhas/xama.html">Xamã</a></li>
          <li><a data-href="trilhas/sacerdote.html">Sacerdote</a></li>
          <li><a data-href="trilhas/mestre-das-feras.html">Mestre das feras</a></li>
          <li><a data-href="trilhas/lorde-runico.html">Lorde Rúnico</a></li>
          <li><a data-href="trilhas/bardo.html">Bardo</a></li>
          <li><a data-href="trilhas/alquimista.html">Alquimista</a></li>
          <li><a data-href="trilhas/defensor.html">Defensor</a></li>
          <li><a data-href="trilhas/troca-peles.html">Troca-peles</a></li>
        </ul>
      </li>

      <li><a data-href="magias/index.html">Poderes Místicos</a></li>
      <li><a data-href="sobre.html">Sobre</a></li>
    </ul>
  </nav>
</header>
